.Header {
	display: flex;
	gap: 1rem;
	align-items: center;
	box-shadow: 0 -4px 8px 6px rgb(0 0 0 / 0.2);
}

.Header-sidebarToggle {
	cursor: pointer;
}

.SidebarToggle-icon {
	font-size: 1.5rem;
	vertical-align: middle;

	@container (width > 800px) {
		display: none;
	}
}

.Header-title {
	flex: 9;
	margin: 0;
}

.Header-search {
	flex: 8;
	min-height: 5ex;
	padding-inline: 1em;
}

.Header-upload {
	display: flex;
	flex: none;
	align-items: center;
	min-height: 5ex;
	padding: 0.5em 1em;
	border-radius: 0.5rem;
}
