.Navbar {
	overflow-y: auto;
}

.Navbar-header {
	text-transform: uppercase;
	font-size: var(--fs-label);
	letter-spacing: 1.2px;
	margin-block: 1rem 0.5rem;
	margin-inline: 1.25rem;
}

.Navbar-list {
	margin-block: 0.5rem 2rem;
}
