.Navbar {
	padding-inline: 1rem;
	overflow-y: auto;
}

.Navbar-header {
	margin-block: 1rem 0.5rem;
	margin-inline: 1.25rem;
	font-size: 0.625rem;
	text-transform: uppercase;
	letter-spacing: 1.2px;
}

.Navbar-list {
	margin-block: 0.5rem 2rem;
}
