.RecentActivity-title {
	margin-block: 0 1.5em;
}

.RecentActivity-list {
	display: flex;
	flex-direction: column;
	gap: 1.25rem;
	padding: 0;
	margin: 0;
	list-style: none;
}

.RecentActivity-item {
	display: grid;
	grid-template:
		"dot text" auto
		"dot time" auto / auto 1fr;
	gap: 0.1rem 0.75rem;
}

/* Colored dot indicator */
.RecentActivity-dot {
	grid-area: dot;
	width: 0.625rem;
	aspect-ratio: 1;
	margin-block-start: 0.2em;
	border-radius: 50%;
}

.RecentActivity-dot--success {
	background: var(--cl-success);
}
.RecentActivity-dot--system {
	background: var(--cl-warning);
}
.RecentActivity-dot--error {
	background: var(--cl-error);
}
.RecentActivity-dot--info {
	background: var(--cl-info);
}

.RecentActivity-text {
	grid-area: text;
	margin: 0;
	font-size: 0.8rem;
	line-height: 1.4;
}

.RecentActivity-time {
	grid-area: time;
	font-size: 0.75rem;
	opacity: 0.6;
}
