.SermonCard {
	display: grid;
	grid-row: span 4;
	grid-template-rows: subgrid;
	padding: 0;
	grid-template-areas:
		"thumbnail"
		"title"
		"info"
		"tags";
		color: inherit;
	text-decoration: none;
}

.SermonCard-title {
	grid-area: title;
}

.SermonCard-info {
	grid-area: info;
}

.SermonCard-speaker {
	&::after {
		content: " • ";
	}
}

.SermonCard-thumbnail {
	grid-area: thumbnail;
	position: relative;
	height: auto;
	aspect-ratio: 16 / 9;
}

.SermonCard-thumbnailImage {
	height: auto;
	object-fit: cover;
	max-width: 100%;
	display: block;
}

.SermonCard-duration {
	position: absolute;
	inset-block-end: 0.5rem;
	inset-inline-end: 0.5rem;
	padding: 0.1em 0.5em;
	font-size: 0.8rem;
	color: #ffffff;
	background: rgb(0 0 0 / 0.7);
	border-radius: 4px;
}

.SermonCard-tags {
	grid-area: tags;
	display: flex;
	gap: 8px;
	padding: 0 16px 16px 16px;
	margin: 0;
}
