.StatCard {
	display: grid;
	grid-template-rows: subgrid;
	grid-row: span 3;
	padding: 1rem;
	background-color: var(--cl-surface);
	border-radius: 0.75rem;
}

.StatCard-label {
	margin-block: 0;
	font-size: 0.75rem;
	opacity: 0.6;
}

.StatCard-value {
	margin-block: 0;
	font-size: 1.8rem;
	font-weight: 700;
}

.StatCard-trend {
	margin-block: 0;
	font-size: 0.8rem;
	font-weight: bold;
	color: var(--cl-accent);
}
