.Sermons {
	:where(fieldset) {
		padding: 0;
		margin: 0;
		border: none;
	}
}

/* Sermons.css, transparent background by default when not selected. !important was to override global styles */
.Sermons-statuses {
	display: flex;
	margin-block: 1rem 2rem;
}

.Sermons-status {
	position: relative;
	padding: 1em 1.5em;
	font-size: 0.9rem;
	font-weight: bold;
	opacity: 0.6;

	&::after {
		position: absolute;
		inset-block-end: 0;
		inset-inline: 0;
		display: block;
		height: 2px;
		content: "";
		background-color: var(--cl-outline);
		transition: background-color 150ms ease-out;
	}

	&.is-active {
		color: var(--cl-accent);
		opacity: 1;

		&::after {
			background-color: var(--cl-accent);
		}
	}
}

.Sermons-topics {
	display: flex;
	flex-wrap: wrap;
	gap: 0.5rem;
}

.Sermons-topic {
	--hover-brightness: 0.95;

	flex: none;
	padding: 0.5em 1em;
	font-size: 0.9rem;
	background-color: var(--cl-surface);
	border: 2px solid var(--cl-outline);
	border-radius: 1.5rem;
	transition: all 100ms ease;

	&:hover,
	&:focus-visible {
		color: var(--cl-accent);
		border-color: var(--cl-accent);
	}

	&.is-active {
		color: var(--cl-on-accent);
		background-color: var(--cl-accent);
	}
}

.Sermons-grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(min(12rem, 100%), auto));
	grid-auto-rows: 10rem auto auto auto;
	gap: 1rem;
}
