/* Sermons.css, transparent background by default when not selected. !important was to override global styles */
.Sermons-statuses {
	display: flex;
	gap: 8px;
	padding-bottom: 8px;
	margin-bottom: 16px;
	border-bottom: 1px solid #e0e0e0;
}

/* Default unselected tabs, transparent background */
.Sermons-status {
	padding: 8px 16px;
	font-size: 0.95rem;
	color: #222222;
	cursor: pointer;
	background: transparent;
	border: none;
	border-radius: 0;
}

/* Unselected tabs, transparent background, gray text */
.Sermons-status {
	--cl-accent: transparent;
	--cl-on-accent: #202020;
	padding: 8px 16px;
	margin-bottom: 16px;
	font-size: 0.95rem;
	color: #000000;
	cursor: pointer;
	background: transparent;
	background-color: transparent;
	border: none;
	border-radius: 0;

	/* Selected tabs, green bunderline, darker text*/
	&.is-active {
		padding: 8px 30px;
		margin-bottom: -2px;
		font-size: 0.95rem;
		font-weight: 700;
		color: #48662d;
		cursor: pointer;
		outline: none;
		background: transparent;
		background-color: transparent;
		border: none;
		border-bottom: 2px solid #7a9166;
		border-radius: 0;
	}
}

/* Topic filter pills */
.Sermons-topics {
	display: flex;
	gap: 16px;
	margin-bottom: 16px;
}

/* Default unselected topic pills, transparent background */
.Sermons-topic {
	--cl-accent: transparent;
	--cl-on-accent: #1f1f1f;
	padding: 6px 16px;
	font-size: 0.9rem;
	color: #1f1f1f;
	cursor: pointer;
	background: transparent;
	background-color: transparent;
	border: 1px solid #e0e0e0;
	border-radius: 20px;

	/* Selected topic pills, green background and white text */
	&.is-active {
		padding: 10px 15px;
		font-size: 0.9rem;
		color: #ffffff;
		cursor: pointer;
		background: #7a9166;
		border: 1px solid #7a9166;
		border-radius: 20px;
	}
}

/* Filter dropdown styles */
.sermon-filters {
	display: flex;
	gap: 12px;
	padding: 10px 12px;
	margin-bottom: 24px;
	font-size: 0.9rem;
	color: #1f1f1f;
	cursor: pointer;
	border: 1px solid #e0e0e0;
	border-radius: 12px;
}

/* Filters Container */
.filters-container {
	display: flex;
	gap: 12px;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 10px;
}

/* Sermon grid, 3 card layout */
.Sermons-grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(min(12rem, 100%), auto));
	grid-auto-rows: 10rem auto auto auto;
	gap: 1rem;
	margin-top: 10px;
}

.Sermons-card {
	max-width: 20rem;
}
