.Sermons {
	:where(fieldset) {
		padding: 0;
		margin: 0;
		border: none;
	}
}

.Sermons-scrollContainer {
	padding-block-end: 0.25rem;
	margin-block: 1rem 2rem;
	overflow-inline: auto;
}

/* Sermons.css, transparent background by default when not selected. !important was to override global styles */
.Sermons-statuses {
	display: flex;
}

.Sermons-status {
	position: relative;
	padding: 1em 1.5em;
	font-size: 0.9rem;
	font-weight: bold;
	opacity: 0.6;

	&::after {
		position: absolute;
		inset-block-end: 0;
		inset-inline: 0;
		display: block;
		height: 2px;
		content: "";
		background-color: var(--cl-outline);
		transition: background-color 150ms ease-out;
	}

	&.is-active {
		color: var(--cl-accent);
		opacity: 1;

		&::after {
			background-color: var(--cl-accent);
		}
	}
}

.Sermons-controls {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	align-items: center;
	justify-content: space-between;
	min-width: 0;
	margin-block-end: 2rem;
}

.Sermons-topics {
	display: flex;
	flex-wrap: wrap;
	gap: 0.5rem;
	min-width: 0;
}

.Sermons-topic {
	--hover-brightness: 0.95;

	flex: none;
	padding: 0.5em 1em;
	font-size: 0.9rem;
	background-color: var(--cl-surface);
	border: 2px solid var(--cl-outline);
	border-radius: 1.5rem;
	transition: all 100ms ease;

	&:hover,
	&:focus-visible {
		color: var(--cl-accent);
		border-color: var(--cl-accent);
	}

	&.is-active {
		color: var(--cl-on-accent);
		background-color: var(--cl-accent);
	}
}

.Sermons-dropdowns {
	display: flex;
	flex-wrap: wrap;
	gap: 0.5rem;
	min-width: 0;
}

.Sermons-dropdown {
	padding: 0.25em 0.5em;
	font: inherit;
	cursor: pointer;
	border: 2px solid var(--cl-outline);
	border-radius: 0.25rem;
}

.Sermons-grid {
	display: grid;
	grid-template-columns: repeat(3, minmax(0, 1fr));
	gap: 1rem;
	align-items: stretch;
}

@media (width <= 56rem) {
	.Sermons-grid {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}
}

@media (width <= 34rem) {
	.Sermons-grid {
		grid-template-columns: 1fr;
	}
}

.Sermons-cardLink {
	display: flex;
	min-width: 0;
	color: inherit;
	text-decoration: none;
	cursor: pointer;
}

.Sermons-cardLink > * {
	flex: 1;
	min-width: 0;
}
