.speaker-grid {
	display: grid;
	grid-template-columns: repeat(3, minmax(0, 1fr));
	gap: 20px;
}

@media (width <= 56rem) {
	.speaker-grid {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}
}

@media (width <= 34rem) {
	.speaker-grid {
		grid-template-columns: 1fr;
	}
}
