.AddUserModal-infoBox {
	padding-block: 0.75rem;
	padding-inline: 1rem;
	margin-block-end: 1rem;
	font-size: 0.8125rem;
	color: var(--cl-on-info);
	background-color: var(--cl-info-container);
	border: 1px solid var(--cl-info-outline);
	border-radius: 0.625rem;
}
